<p class="alert alert-info mt-5  text-center">Ng Switch</p>

<div class="header alert-success">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3">
            <ul class="nav nav-pills p-2">
                <li 
                (click)="onChangeSkill(skill.skillName)"
                *ngFor="let skill of skillArray"
                class="nav-item flex-grow-1">
                    <a 
                    [ngClass]="{
                        'active':selectionOfskill.toLowerCase().includes(skill.skillName),
                        'text-white':selectionOfskill.toLowerCase().includes(skill.skillName)
                    }"
                    href="javascript:;" class="text-dark nav-link">
                        {{skill.skillName}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3">
            <ng-container 
            [ngSwitch]="selectionOfskill"
            *ngFor="let skill of skillArray"
            >
                <div class="card"
                *ngSwitchCase="skill.skillName"
                >
                    <div
                    class="card-body" [innerHTML]="skill.skillInfo">

                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
